@import '~bootstrap/scss/bootstrap';

body{
    background-color: #333;
}

.header_ban{
    background-color: purple;
}
.logo{
    color: purple;
    cursor: pointer;
}
.nav_list{
    font-weight: 500;
    padding-top: 1rem;
    >li{
        cursor: pointer;
    }
}
.nav_list:last-child::after{
    content: 'â·';
    margin-left: -0.5rem;
    color: purple;
}