@import '~bootstrap/scss/bootstrap';

*{
    margin: 0;
}
body{
    background-color: #333;
}

.header_ban{
    background-color: purple;
}
.logo{
    color: purple;
    cursor: pointer;
}
.nav_list{
    align-items: center;
    margin: 0;
    font-weight: 500;
    >li{
        cursor: pointer;
    }
    height: 100%;
    margin-top: -1rem;
    box-sizing: border-box;
    // padding-bottom: 2rem;
    color: gray;
    // padding-top: 2rem;

    a{
        color: #333;
    }
}
.active_item{
    background-color: purple;
    // margin-top: 0.9%;
    transform: scale(1.1);
    height: 100%;
    padding: 3rem 0;
    a{
        color: white;
        font-weight: 700;
    }
}
.nav_list::after{
    content: 'â·';
    margin-left: -0.5rem;
    color: purple;
}
.my_jumbo{
    background-image: url('../images/purple_bg.avif');
    background-size: cover;
    background-position: 60%;
    background-repeat: no-repeat;
    color: white;
    font-weight: 200;
    height: 100vh;
    .jumbo_container{
        background-color: #450264c5
    }
}
.my_card{
    img{
        height: 500px;
    }
}

.card_single{
    margin-top: 20%;
    > img{
       height: 100%;
    }
}
.btn_box{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.fa-play{
    z-index: 999;
    opacity: 1;
    position: absolute;
    top: 30%;
    left: 45%;
    font-size: 6rem;
    filter: drop-shadow(0 1rem 1rem rgb(160, 0, 210));
    cursor: pointer;
}
.movie_card:hover{
    filter: brightness(0.3);
}
.fa-plat:hover .movie_card{
    opacity: 1;
}
.movies-container{
    background-image: url(../images/movies/1310578.jpg);
}
.comics_collection_grid, .single_comic_container{
    background-image: url(../images/comics-bg.jpeg);
    background-color: #333;
    background-blend-mode:darken;
}
.single_comic_container{
    height: 100vh;

}
.nothing_to_show{
    background-image: url(../images/sad-bg.webp);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 35%;
}
.back{
    margin: 20% 0 0 13%;

    a{
        font-size: 2rem;
        padding: 1rem 3rem;
    }
}