@import '~bootstrap/scss/bootstrap';

*{
    margin: 0;
}
body{
    background-color: #333;
}

.header_ban{
    background-color: purple;
}
.logo{
    color: purple;
    cursor: pointer;
}
.nav_list{
    margin: 0;
    font-weight: 500;
    >li{
        cursor: pointer;
    }
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 2rem;
    color: gray;
    padding-top: 2rem;
}
.nav_list::after{
    content: '⏷';
    margin-left: -0.5rem;
    color: purple;
}
.my_jumbo{
    background-image: url('../images/purple_bg.avif');
    background-size: cover;
    color: white;
    font-weight: 200;
    .jumbo_container{
        background-color: #450264c5
    }
}
.my_card{
    img{
        height: 500px;
    }
}
.btn_box{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
